.Header {
    background-color: black;
    color: yellow;
    font-family: 'Familiada Regular';
    text-align: center;
}

.Header :nth-child(1) {
    font-size: 50px;
}

.Header :nth-child(2) {
    font-size: 40px;
}